
      <script>
      window.notificationErrorTemplate = function(message) {
        return `
        <div class="error-notification">
      <div item="message">${message}</div>
    </div>
        `;
      }
      </script>